@import "reset";
$white: #fff;
$brown: #8E6F6F;
$yellow: #B08433;
$skin: #EFE6DE;
$skin--light: #F8F0E4;

* {box-sizing: border-box;}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  color: $brown;
  background-color: $skin--light;
}
a {
  text-decoration: none;
  color: inherit;
}

.hero-sec {
  > img {width: 100%;}
  &__desc {
    position: absolute;
    top: 63px;
    left: 114px;
    h1 img {width: 454px;}
    p {
      margin-top: 20px;
      font-size: 21px;
      line-height: 1.45;
      text-align: center;
      color: $white;
    }
  }
}

.main-sec {
  position: relative;
  padding-bottom: 70px;
  background-image: url('../images/bg-foot.jpeg');
  background-size: 100%;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: -230px;
    display: block;
    width: 100%;
    height: 235px;
    background-image: url('../images/bg-head.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  &__container {
    width: 850px;
    margin: 0 auto;
  }
  &__desc {
    h2 {
      font-size: 28px;
      line-height: 1.5;
      text-align: center;
    }
    p {
      width: 480px;
      margin: 25px auto 0;
      line-height: 1.6;
      letter-spacing: 2px;
    }
  }
  &__example {
    img {
      width: 50%;
      border-radius: 22px;
    }
    p {
      letter-spacing: 3px;
      line-height: 2;
    }
  }
  &__usage {
    position: relative;
    padding-top: 80px !important;
    h2 {
      position: absolute;
      top: -73px;
      left: 0;
      right: 0;
      img {
        position: absolute;
        left: 240px;
        width: 370px;
        margin: 0 auto;
      }
    }
    > img {
      width: 100%;
      border-radius: 22px;
    }
  }
  &__link {
    margin-top: 82px;
    a {
      display: block;
      width: fit-content;
      width: -moz-fit-content;
      padding: 30px;
      border-radius: 22px;
      margin: 0 auto;
      font-size: 36px;
      font-weight: bold;
      color: $white;
      background-color: $yellow;
    }
  }
}
footer {
  margin-top: 30px;
  p {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
  }
}

.white-content {
  width: 100%;
  border-radius: 22px;
  background-color: $white;
  padding: 30px;
  margin-top: 82px;
}
.heading--underline {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  padding-bottom: 2px;
  border-bottom: 2px solid $yellow;
  margin: 0 auto;
  font-size: 36px;
  &::before {
    content: "";
    position: absolute;
    bottom: 53px;
    display: block;
    width: 100%;
    height: 61px;
    background-image: url('../images/heading-top.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: $yellow;
  }
}
.flex-content {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 50px;
}
.bubble {
  position: relative;
  width: 100%;
  padding: 25px 0;
  border-radius: 22px;
  margin-top: 36px;
  font-size: 21px;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    bottom: -25px;
    display: block;
    width: 45px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  &--left {
    background-color: $skin--light;
    &::after {
      left: 5px;
      background-image: url('../images/bubble-tail-left.png');
    }
  }
  &--right {
    background-color: $skin;
    &::after {
      right: 5px;
      background-image: url('../images/bubble-tail-right.png');
    }
  }
}

/* sp */
@media screen and (max-width: 767px) {
  .hero-sec {
    &__desc {
      left: 4.5%;
      h1 img {margin: auto;}
    }
  }

  .main-sec {
    padding-bottom: 50px;
    &::before {
      top: -170px;
    }
    &__container {
      max-width: 500px;
      padding: 10px 20px;
    }
    &__desc {
      h2 {font-size: 18px;}
      p {
        width: 75%;
        margin: 20px auto 0;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 2.4px;
      }
    }
    &__example {
      padding: 20px 25px;
      &:nth-child(2) {margin-top: 50px;}
      + .main-sec__example {margin-top: 40px;}
      img {
        width: 100%;
        height: 55vw;
        min-height: 215px;
        max-height: 40vw;
        border-radius: 20px;
      }
      p {
        padding: 0 1px;
        font-size: 12px;
        letter-spacing: 2.4px;
      }
    }
    &__usage {
      margin-top: 65px;
      padding:50px 20px 20px;
      h2 {
        top: -40px;
        img {
          width: 60%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    &__voice {
      padding: 20px 25px 30px;
    }
    &__link {
      margin-top: 30px;
    }
  }
  footer {
    margin-top: 10px;
    p {font-size: 10px;}
  }

  .heading--underline {
    padding-bottom: 1px;
    font-size: 24px;
    &::after {margin-top: 4px;}
  }
  .flex-content {
    flex-wrap: wrap;
    gap: 0;
    margin-top: 20px;
  }
  .bubble {
    padding: 12px;
    border-radius: 14px;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    &::after {
      bottom: -14px;
      width: 25px;
      height: 15px;
    }
  }
}

#back_to_top {
  margin: 0 auto;
  position: fixed;
  right: 2%;
  bottom: 20px;
  z-index: 999;
  transition: 0.3s ease;
  img {
    width: 34px;
    height: 165px;
  }
  &.sc {
    opacity: 1;
  }
  button {
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    background: none;
    outline: 0;
    display: block;
  }
  button:hover {
    opacity: 0.5;
  }
}